*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-block: 6rem;
}

.swiper{
    position: relative;
    --spaceBetween: 15px;
}

.swiper-wrapper{
    display: flex;
    overflow: hidden;
}

.swiper-slide{
    flex-shrink: 0;
    flex-basis: 0;
    width: 0px !important;
    /* transition: flex-basis 0.6s cubic-bezier(0.85, 0, 0.15, 1); */
    transition: flex-basis 0.8s cubic-bezier(0.22, 1, 0.36, 1), width 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next
{
    flex-basis: calc(25% - var(--spaceBetween));
}
.swiper-slide.swiper-slide-active{
    flex-basis: 50%;
    margin-inline: calc(var(--spaceBetween));
}
.arrow{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.arrow--next{
    right: 0;
}

.card{
    position: relative;
    height: 400px;
    background-color: #f1f1f1;
    border-radius: 1rem;
    overflow: hidden;
}
.card img,
.card video
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-button{
    position: absolute;
    right: 5px;
    bottom: 5px;
}



.tinyflow-slider__pagination{
    --color--brand--primary: #01db86;
    --color--brand--secondary: #affb42;
    --color-gradient: radial-gradient(162.73% 191.67% at 1.36% 8.33%, var(--color--brand--secondary) 0%, var(--color--brand--primary) 95.4%);
    position: static !important;
    transform: unset !important;
    width: unset !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.tinyflow-slider__pagination__btn {
    --swiper-pagination-bullet-inactive-color: var(--color-gradient);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-horizontal-gap: 0;
    --swiper-pagination-bullet-border-radius: 10rem;
    
    left: unset !important;
    transform: scale(1) !important;
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1) !important;
}
.tinyflow-slider__pagination__btn.swiper-pagination-bullet-active-main,
.tinyflow-slider__pagination__btn.swiper-pagination-bullet-active-main ~ .tinyflow-slider__pagination__btn
{
    --swiper-pagination-bullet-inactive-color: #E8EEDA;
}
.tinyflow-slider__pagination__btn.swiper-pagination-bullet-active-main{
    --swiper-pagination-bullet-width: calc(var(--swiper-pagination-bullet-size) * 4);
    --swiper-pagination-color: var(--swiper-pagination-bullet-inactive-color);
}

.tinyflow-slider__pagination__btn::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: var(--_progress, 0%);
    background: radial-gradient(162.73% 191.67% at 1.36% 8.33%, var(--color--brand--secondary) 0%, var(--color--brand--primary) 95.4%);
    border-radius: inherit;
    opacity: 0;
}
.tinyflow-slider__pagination__btn.swiper-pagination-bullet-active::after{
    opacity: 1;
    -webkit-transition: width linear;
    -o-transition: width linear;
    transition: width linear;
}